{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-12">
            <h6 class="text-muted">Grasshopper TappUp</h6> 
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-male text-info mx-2"></i>
                    <a href="/expenses/">Expenses this week</a>
                </li>
                <li class="list-group-item"><i class="fas fa-venus text-warning mx-2"></i>
                    <a href="#">Topups</a>
                </li>
                <li class="list-group-item"><i class="fas fa-gavel text-danger mx-2"></i>
                    <a href="#">Report</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
{% endblock %}
